extend layout

block body
    #front-cover.cover.paraxify
        .container
            .row
                .twelve.columns
                    h4.u-pull-left SAD
                    h4.u-pull-right WEDDING
    .section
        .container
            .row
                .twelve.columns
                    h1.beamer Redefining the Concept of a Wedding
            .row
                .six.columns
                    p
                        strong We aren't your typical wedding planners.
                        br
                        |  People hire us because they want a wedding that stands apart from the rest. We transform the colloquial spaces of traditional weddings into a transcendent experience for both our customers and their guests. Few dare to discover what makes us the premier wedding agency.

                    a(href="mailto:info@sad.wedding") Request Our Service
                    small  Customers subject to review for financial compatibility

                .six.columns
                    blockquote I have had Sad Weddings three times now, and I've always gotten exactly what I wanted!
                        cite.u-pull-right
                            small Anna Andersson

                    br
                    blockquote.u-cf My wedding was just like my childhood.
                        cite.u-pull-right
                            small Roy Valentin


    #features.cover.paraxify

//-
    .section
        .container
            .row
                .twelve.columns
                    h2.beamer Why Have a Sad Wedding?

            .row
                .four.columns
                    div.center.giant-icon(style="background-image: url(images/icon_05.png)")
                    h5.center A Unique Experience
                    p Your guests have been to weddings in the past. Make yours stand out.
                .four.columns
                    div.center.giant-icon(style="background-image: url(images/icon_02.png)")
                    h5.center Spite your Stepmother
                    p Ruin your stepmother's decades old fantasies about her daughters'/sons' wedding.
                .four.columns
                    div.center.giant-icon(style="background-image: url(images/icon_08.png)")
                    h5.center Distance yourself
                    p Getting married means spending time with your betrothed — buy yourself some breathing room.

            hr

            .row
                .twelve.columns
                    h2 A Selection of Available Services

            .row
                .six.columns
                    h5 Decadent Location
                    p Our selection of handpicked venues ensures that your highly esteemed guests
                        | will call in advance to verify that they got the correct address.

                    strong Always included
                .six.columns

                    h5 The No-Show
                    p We arrange for your wedding to have too few chairs for your guests. The
                        | atmosphere is completed by reserving the best chairs for the people
                        | who could not make the date.

                    strong Inluded in the
                        em  Plus Package


            .row.spaced_medium
                .six.columns
                    h5 Wedding Cake
                    p Our chefs will tailor-make a regular-sized princess cake for your wedding.
                        |  Comes standard with congratularory frosting and a neutral taste.


                    strong Always included
                    br
                    strong Optional Extra: Misspelled Name ($50)
                    br
                    strong Optional Extra: Air-Dried Bread ($10)
                    br
                    strong Optional Extra: Too Few Slices ($10/missing slice)

                .six.columns
                    h5 Reception Dinner
                    p Our experienced personal shoppers will handpick a selection of menues at your
                        | nearest McDonalds or TacoBell for your reception.

                    strong Inluded in the
                        em  Plus Package
                    br
                    strong Optional Extra: Food Cold when Served ($10/person)
                    br
                    strong Upgrade: Microwaved TV-dinners ($12/person)
                    br
                    strong Upgrade: Complimentary Soda (decarbonated) ($2.50/can)

            .row.spaced_medium
                .six.columns
                    h5 Tailored Vows
                    p Our professional copywriters will construct a delightful set of vows for
                        | both parts. Surprise your loved ones with an insipid and general statement.

                    strong Included in the Diamond Package
                    br
                    strong Optional Extra: Hidden Dirty Joke ($500)
                    br
                    strong Optional Extra: No Commitment ($10)
                    br
                    strong Optional Extra: Curses ($6/curse word)

                .six.columns
                    h5 Old Friend Reunion
                    p Our experienced detectives will track down all your previous lovers and have
                        | them visit the marriage ceremony while instigating drama.

                    strong Available with the
                        em  Diamond Package
                        | only
                    br
                    strong Reunion ($800/lover)
            hr

            .row
                .twelve.columns
                    h2 Deluxe Add-Ons

            .row.spaced_medium
                .twelve.columns
                    h5 Professional Best-Man / Bridesmaids
                    p Our professional Best Men and Bridesmaids will try their best to play the role
                        |  of your best friends in case you dont have any who could come. This is a
                        |  great opportunity to get some good photographs from the time you had a
                        |  best man / bridesmaid. Most of our priviledged customers choose this
                        |  addon and speak very highly of it.

                    strong Included in the Diamond Package (1 Best Man / Bridesmaid during the ceremony)
                    br
                    strong Additional Bridesmaid ($500)
                    br
                    strong Optional Extra: Best Man Stays for Reception ($1990/best man)
                    br
                    strong Optional Extra: Bridesmaid Stays for Reception ($2455/bridesmaid)
                    br
                    strong Optional Extra: Picture with Best Man / Bridesmaid ($450/image)
            .row.spaced_medium
                .twelve.columns
                    h5 Rent-a-Family Special Offer
                    p Can't stand your family? Now you can rent another! Rent-a-Family makes it easy
                        | to rent a whole family for your wedding. Rent-a-Family is the most trusted
                        | player in the business of Legal Human Trafficing and a sure card in your
                        | wedding playdeck.

                    strong Rent-a-Family
                        strike  $14400
                        |  $5677 (68% off!)
                    br
                    strong Additional Uncle ($199/uncle)
            hr
            .row
                .twelve.columns
                    h1 What our Customers are Saying
            .row
                .six.columns
                    blockquote The look on my fiancés face when the cake was uncovered made it all worth it!
                    cite.u-pull-right Catherine de Saint-Durmonde
                .six.columns
                    blockquote I've never been so disappointed in my life.
                        br
                        | I cannot recommend sad.wedding enough!
                    cite.u-pull-right Ray Gilette
            .row
                .six.columns
                    blockquote My wedding was just like my childhood!
                    cite.u-pull-right Pam Poovey
                .six.columns
                    blockquote Still not as sad as IKEA's Online Weddings.
                    cite.u-pull-right Katia Kazanov

