extend layout

block body
    .nav
        .container
            .row
                .seven.columns &nbsp;
                .five.columns
                    ul.navbar

                        li
                            a(href="#contact") Contact
                        li
                            a(href="#pricing") Pricing
                        li
                            a(href="#intro") Intro

    #front-cover.cover.paraxify
        .container
            .row
                .six.columns
                    h4 SAD
                .six.columns
                    h4.u-pull-right WEDDING
    .section
        .container
            .row
                .twelve.columns
                    h1.beamer Redefining the world of Wedding Planning
            .row
                .six.columns
                    p Sum expectantes. Ego hodie expectantes. Expectantes, et misit unum de pueris Gus interficere. Et suus
                        |vos. Nescio quis, qui est bonus usus liberi ad Isai? Qui nosti ... Quis dimisit filios ad necem ...
                        |hmm? Gus! Est, ante me factus singulis decem gradibus. Et nunc ad aliud opus mihi tandem tollend
                        |um est puer ille consensus et nunc fugit. Ipse suus obtinuit eam. Non solum autem illa, sed te t
                        |ractantur in se trahens felis.

                .six.columns
                    blockquote I wanted to cry on my wedding, and thanks to sad.wedding thats exactly what I did!
                    cite.u-pull-right Kellan Davies

    #features.cover.paraxify
        .container
            .row
                .four.columns
                    |Some text

    .section
        .container
            .row
                .twelve.columns
                    h1.beamer What our Customers are Saying
            .row
                .six.columns
                    blockquote The look on my fiancés face when the cake was uncovered made it all worth it!
                .six.columns
                    blockquote I got married through sad.wedding years ago, and still when I think about it I start
                        | to cry silently.
            .row
                .six.columns
                    cite.u-pull-right Catherine de Saint-Durmonde
                .six.columns
                    cite.u-pull-right Ray Gilette
            .row
                .six.columns
                    blockquote I've never been so disappointed in my life.
                        br
                        |I cannot recommend sad.wedding enough!
                .six.columns
                    blockquote Still not as sad as IKEA's Online Weddings.


            .row
                .six.columns
                    cite.u-pull-right Pam Poovey
                .six.columns
                    cite.u-pull-right Katia Kazanova