extend layout

block body
    .nav
        .container
            .row
                .twelve.columns
                    ul.navbar

                        li
                            a(href="#contact") Contact
                        li
                            a(href="#pricing") Pricing
                        li
                            a(href="#intro") Intro

    #front-cover.cover.paraxify
        .container
            .row
                .twelve.columns
                    h4.u-pull-left SAD
                    h4.u-pull-right WEDDING
    .section
        .container
            .row
                .twelve.columns
                    h1.beamer Everyone has the right to a sad wedding
            .row
                .six.columns
                    p Sum expectantes. Ego hodie expectantes. Expectantes, et misit unum de pueris Gus interficere. Et suus
                        |vos. Nescio quis, qui est bonus usus liberi ad Isai? Qui nosti ... Quis dimisit filios ad necem ...
                        |hmm? Gus! Est, ante me factus singulis decem gradibus. Et nunc ad aliud opus mihi tandem tollend
                        |um est puer ille consensus et nunc fugit. Ipse suus obtinuit eam. Non solum autem illa, sed te t
                        |ractantur in se trahens felis.
                    p We believe that everyone has the right to a sad wedding.

                .six.columns
                    blockquote 10/10 Would not get married again!
                    cite.u-pull-right Alexandria Yates

    #features.cover.paraxify
        .container
            .row
                .four.columns
                    |Some text

    .section
        .container
            .row
                .twelve.columns
                    h1.beamer What our Customers are Saying
            .row
                .six.columns
                    blockquote The look on my fiancés face when the cake was uncovered made it all worth it!
                    cite.u-pull-right Catherine de Saint-Durmonde
                .six.columns
                    blockquote I've never been so disappointed in my life.
                        br
                        | I cannot recommend sad.wedding enough!
                    cite.u-pull-right Ray Gilette
            .row
                .six.columns
                    blockquote My wedding was just like my childhood!
                    cite.u-pull-right Pam Poovey
                .six.columns
                    blockquote Still not as sad as IKEA's Online Weddings.
                    cite.u-pull-right Katia Kazanov

