extend layout

block body
    .nav
        .container
            .row
                .seven.columns &nbsp;
                .five.columns
                    ul.navbar
                        li
                            a(href="intro") Intro
                        li
                            a(href="intro") Service
                        li
                            a(href="intro") Contact
    #front-cover.cover.paraxify
        .container
            .row
                .five.columns
                    h1 Headign
    .filler
        p sad
