.paraxify {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.nav {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    list-style: none;
}

.navbar > li {
    float: right;
    margin-top: 4em;
    margin-left: 4em;
}

.navbar > li > a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: .8em;
    letter-spacing: 2px;
}

.navbar > li > a:hover {
    color: crimson;
}

#front-cover {
    background-image: url(beam.jpg);

}

.cover {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    padding-top: 70px;
    padding-bottom: 70px;
}

#features {
    background-image: url(mcd.jpg);
}

h1.beamer {
    margin-bottom: 70px;
}

blockquote {
    font-size: 1.2em;
}

.filler {
    height: 1000px;
}